@import "../../scss/variables";

#classicLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;

  $btn-min-width: 64px;

  .btn {
    min-width: $btn-min-width;

    &.btn-lg {
      min-width: $btn-min-width * $lg-multiplier;
    }
  }
}

#stretchLayout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  .row {
    display: flex;
    align-items: stretch;
    flex: 1;

    > * {
      flex: 1;
    }
  }
}
