@import "../../scss/variables";

#classicLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;

  $btn-min-width: 64px;
  $control-margin: 0.5rem;

  .row {
    &:first-child {
      > .btn {
        margin-top: $control-margin;
      }
    }

    .btn {
      min-width: $btn-min-width;
      margin-right: $control-margin;
      margin-bottom: $control-margin;

      &:last-child {
        margin-right: 0;
      }

      &.btn-lg {
        min-width: $btn-min-width * $lg-multiplier;
      }
    }
  }
}

#stretchLayout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;

  $control-margin: 0.3rem;

  .row {
    display: flex;
    align-items: stretch;
    flex: 1;

    &:first-child {
      > * {
        margin-top: $control-margin;
      }
    }

    > * {
      flex: 1;
      margin-right: $control-margin;
      margin-bottom: $control-margin;

      &:first-child {
        margin-left: $control-margin;
      }
    }
  }
}
