<button (click)="do(command.Play)">&#x23f5;</button>
<button (click)="do(command.Pause)">&#x23f8;</button>
<button (click)="do(command.Stop)">&#x23f9;</button>
<button (click)="do(command.Forward)">&#x23ed;</button>
<button (click)="do(command.Back)">&#x23ee;</button>
<button (click)="do(command.IncreaseSpeed)">&#x23e9;</button>
<button (click)="do(command.DecreaseSpeed)">&#x23ea;</button>
<button (click)="do(command.SeekForwardMedium)">+5s</button>
<button (click)="do(command.SeekBackwardMedium)">-5s</button>
<button (click)="do(command.Mute)">🔇</button><!--&#x1f507;-->
<button (click)="do(command.VolumeDown)">🔉</button><!--&#x1f509;-->
<button (click)="do(command.VolumeUp)">🔊</button><!--&#x1f50a;-->
<button (click)="do(command.Fullscreen)">&#x26F6;</button>
<button (click)="do(command.NextAudio)">Audio &#x23f5;</button>
<button (click)="do(command.PreviousAudio)">&#x23f4; Audio</button>
<button (click)="do(command.NextSubtitles)">Subtitles &#x23f5;</button>
<button (click)="do(command.PreviousSubtitles)">&#x23f4; Subtitles</button>
<button (click)="do(command.NextPlaylistItem)">Playlist &#x23f5;</button>
<button (click)="do(command.PreviousPlaylistItem)">&#x23f4; Playlist</button>
<button (click)="do(command.VideoFrameInside)">Video Frame Inside</button>
<button (click)="do(command.VideoFrameOutside)">Video Frame Outside</button>
